@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);    
*{
    padding: 0 0;
    margin: 0 0;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: black;


}

::-webkit-scrollbar{
  display: none;
}

.navbar{
  width: auto;
  height: 8vh;
  padding: 0px 100px;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid whitesmoke;
  font-size: 17px;
  
}
.navbar a{
  margin: 15px;
  padding: 0px;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  transition: 0.25s ease;
}

.navbar button{
  margin: 15px;
  text-decoration: none;
  border: none;
  background-color: black;
  color: whitesmoke;
  position: relative;
}

.navbar #music:hover{
  color: #ffc300;
  box-shadow: 0 2px 0 0 currentColor;
}
.navbar a:hover{
  color: #ffc300;
  box-shadow: 0 2px 0 0 currentColor;
}

.link{
  float: right;
}
.logo{
  float: left;
}

.iconflag{
  height: 25%;
  width: 25%;
}

.music{
  float: right;
  margin: 0px;
}

.music button{
    border: none;
    color: whitesmoke;
    padding: 0px 10px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.music button:hover{
  color: #ffc300;
}

#music span{
    color: green;
}

#music i{
    color: red;
    text-decoration: none;
}

.slider {
width: 100%;
height: 93vh;
overflow: hidden;
position: relative;
}

.slider-track {
display: flex;
width: 400vw;
transition: transform 0.5s ease;
}

.slider-item {
width: 100vw;
height: 93vh;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
}
.box1 {
height: 93vh;
width: 100vw;
background-color: black;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 10% repeat(2, 1fr);
}

.box1 .div1 { 
grid-area: 1 / 1 / 2 / 3; 
display: grid;
place-items: center;
}

.box1 .div1 h1{
font-weight: 700;
font-size: 10vh;
color: #ffd60a;
z-index: 10;

}

.box1 .boxback{ 
border-radius: 50% 50% 100% 0% / 0% 100% 0% 100%  ;
background-color: whitesmoke;
width: 30vw;
height: 40vh;
position: relative;
}
.box1 .boxback2{ 
border-radius: 0% 100% 50% 50% / 100% 0% 100% 0%  ;
background-color: whitesmoke;
width: 30vw;
height: 40vh;
left: 0;
position: relative;
}

.image{
z-index: 2 ;
transform: translateX(15%) translateY(-150%);
width: 39vw;
height: auto;
border-radius: 49px;
background: linear-gradient(145deg, #ffffff, #dddddd);
box-shadow:  30px 30px 61px #939393,
       -30px -30px 61px #ffffff;
}
.box1 .div2 { 
grid-area: 2 / 1 / 4 / 2; 
}
.box1 .div3 { 
grid-area: 2 / 2 / 4 / 3; 
display: flex;
flex-direction: column;
background-color: whitesmoke;
border-radius: 35px;
height: 50vh;
padding: 3vh 2.5vw;
margin: 10vh 3vw;
border: 3px solid #ffd60a;
}

.box1 .div3 h2{
color: black;
font-size: 4vh;
margin-bottom: 3vh;
font-weight:600;
box-shadow: 0 2px 0 0 currentColor;
}

.box1 .div3 p{
color: black;
font-size: 2.5vh;
margin-bottom: 3vh;
font-weight: 300;
}

.box1 .div3 h3{
color: black;
font-size: 2vh;
margin-bottom: 3vh;
font-weight: 300;
}

.box2 {
height: 93vh;
width: 100vw;
background-color: #9fe2e0;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 10% repeat(2, 1fr);
}

.box2 .div1 { 
grid-area: 1 / 1 / 2 / 3; 
display: grid;
place-items: center;
}
.box2 .div1 h1{
font-weight: 700;
font-size: 10vh;
color: black;
z-index: 10;


}

.box2 .boxback{ 
border-radius: 50% 50% 100% 0% / 0% 100% 0% 100%  ;
background-color: #D9E4E3;
width: 30vw;
height: 40vh;
position: relative;
}
.box2 .boxback2{ 
border-radius: 0% 100% 50% 50% / 100% 0% 100% 0%  ;
background-color: #D9E4E3;
width: 30vw;
height: 40vh;
left: 0;
position: relative;
}

.box2 .div2 { 
grid-area: 2 / 1 / 4 / 2; 
}

.box2 .div3 { 
grid-area: 2 / 2 / 4 / 3; 
display: flex;
flex-direction: column;
background-color: whitesmoke;
border-radius: 35px;
height: 50vh;
padding: 3vh 2.5vw;
margin: 10vh 3vw;
border: 3px solid aqua;
}

.box2 .div3 h1{
color: black;

}
.box2 .div3 h2{
color: black;
font-size: 4vh;
margin-bottom: 3vh;
font-weight:600;
box-shadow: 0 2px 0 0 currentColor;
}

.box2 .div3 h3{
color: black;
font-size: 2vh;
margin-bottom: 3vh;
font-weight: 300;
}

.box2 .div3 p{
color: black;
font-size: 2.5vh;
margin-bottom: 3vh;
font-weight: 300;

}

.box3 {
height: 93vh;
width: 100vw;
background-color: #3A307B;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 10% repeat(2, 1fr);
}
.box3 .div1 { 
grid-area: 1 / 1 / 2 / 3; 
display: grid;
place-items: center;
}
.box3 .div1 h1{
font-weight: 700;
font-size: 10vh;
color: whitesmoke;

}

.box3 .boxback{ 
border-radius: 50% 50% 100% 0% / 0% 100% 0% 100%  ;
background-color: black;
width: 30vw;
height: 40vh;
position: relative;
}
.box3 .boxback2{ 
border-radius: 0% 100% 50% 50% / 100% 0% 100% 0%  ;
background-color: black;
width: 30vw;
height: 40vh;
left: 0;
position: relative;
}

.box3 .image{
z-index: 2 ;
transform: translateX(15%) translateY(-150%);
width: 39vw;
height: auto;
border-radius: 49px;
background: linear-gradient(145deg, black, black);
box-shadow:  30px 30px 61px black,
       -30px -30px 61px black;
}

.box3 .div2 { 
grid-area: 2 / 1 / 4 / 2; 
}

.box3 .div3 { 
grid-area: 2 / 2 / 4 / 3; 
display: flex;
flex-direction: column;
background-color: whitesmoke;
border-radius: 35px;
height: 50vh;
padding: 3vh 2.5vw;
margin: 10vh 3vw;
border: 4px solid black;
}

.box3 .div3 h2{
color: black;
font-size: 4vh;
margin-bottom: 3vh;
font-weight:400;
box-shadow: 0 2px 0 0 currentColor;
}
.box3 .div3 h3{
color: black;
font-size: 2vh;
font-weight: 300;
}
.box3 .div3 p{
color: black;
font-size: 2.5vh;
margin-bottom: 3vh;
font-weight: 300;
}
.box4 {
height: 93vh;
width: 100vw;
background-color: #E5EFEE;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 10% repeat(2, 1fr);
}
.box4 .div1 { 
grid-area: 1 / 1 / 2 / 3; 
display: grid;
place-items: center;
}
.box4 .div1 h1{
font-weight: 700;
font-size: 10vh;
color: black;

}

.box4 .boxback{ 
border-radius: 50% 50% 100% 0% / 0% 100% 0% 100%  ;
background-color: #CB989C;
width: 30vw;
height: 40vh;
position: relative;
}
.box4 .boxback2{ 
border-radius: 0% 100% 50% 50% / 100% 0% 100% 0%  ;
background-color: #CB989C;
width: 30vw;
height: 40vh;
left: 0;
position: relative;
}

.box4 .image{
z-index: 2 ;
transform: translateX(15%) translateY(-150%);
width: 39vw;
height: auto;
border-radius: 49px;
background: linear-gradient(145deg, black, black);
box-shadow:  30px 30px 61px black,
       -30px -30px 61px black;
}

.box4 .div2 { 
grid-area: 2 / 1 / 4 / 2; 
}

.box4 .div3 { 
grid-area: 2 / 2 / 4 / 3; 
display: flex;
flex-direction: column;
background-color: whitesmoke;
border-radius: 35px;
height: 50vh;
padding: 3vh 2.5vw;
margin: 10vh 3vw;
border: 4px solid #CB989C;
}

.box4 .div3 h2{
color: black;
font-size: 4vh;
margin-bottom: 3vh;
font-weight:600;
box-shadow: 0 2px 0 0 currentColor;
}
.box4 .div3 h3{
color: black;
font-size: 2vh;
margin-bottom: 3vh;
font-weight: 300;
}
.box4 .div3 p{
color: black;
font-size: 2.5vh;
margin-bottom: 3vh;
font-weight: 300;
}


.navigation-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-button {
  font-size: 16px;
  border: none;
  width: max-content;
  height: min-content;
  margin: 5px;
}

.content1{
  background-color: black ;
  color: whitesmoke;
  padding: 4px 20px;
  margin: 0px;
  font-family: "Poppins", sans-serif;

}

.content2{
  background-color:#9fe2e0 ;
  color: whitesmoke;
  padding: 4px 20px;
  margin: 0px;
  font-family: "Poppins", sans-serif;

}

.content3{
  background-color: #3A307B;
  color:whitesmoke ;
  padding: 4px 20px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.content4{
  background-color: #E5EFEE ;
  color: black ;
  padding: 4px 20px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
